@media (max-width: 768px) {

  section.hero {
    background-position: 180px;
  }

  section.content div.content {
    flex: 0 0 35%;
    margin: 0 0 0 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    padding: 1em 0 1em 0;
  }

  nav {
    display: none;
  }

  nav.burger {
    display: block;
  }

}

@media (max-width: 425px) {
  header {
    padding: 0 5% 0 5%;
  }

  section.hero {
    padding: 148px 5% 148px 5%;
  }

  .hero p {
    max-width: 80%;
  }

  section.content {
    flex-direction: column;
  }

  section.content div.content {
    margin: 0;
  }

  section.content:nth-child(even) {
      flex-direction: column;
  }

  section.content div.image {
    margin-bottom: 24px;
  }


}
