@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,900i');
* {
  box-sizing: border-box;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Rubik';
  font-weight: 300;
  background-color: #fff;
  color: #052837;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-style: italic;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
}

p {
  padding: 1.5em 0 1.5em 0;
}

a {
  color: #052837;
  text-decoration: none;
}

a.button {
  border-radius: 50px;
  display: inline-block;
  background-color: #052837;
  color: #fff;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #c7f2f1;
  padding: 0 48px 0 48px;
  height: 64px;
  transition: background-color ease 0.5s, box-shadow 0.5s;
}

div.face {
  position: relative;
}

div.iris {
  position: absolute;
  top: 23px;
  left: 11px;
}

div.iris-right {
  left: 49px;
}

div.iris div {
  position: relative;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #052837;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1, header nav {
  flex: 1;
}

header nav {
  text-align: right;
}

header a {
  margin-left: 16px;
}

nav {
  padding: 0;
  margin: 0;
}

nav.burger {
  display: none;
  background-image: url('./assets/face.svg');
  flex: 1;
  height: 40px;
  background-position: right;
  background-repeat: no-repeat;
}


section.hero {
  margin-top: 64px;
  padding: 160px 48px 160px 48px;
  height: 100vh;
  background-image: url('./assets/hero.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c7f2f1;
}

section.content {
  margin: 5% 5% 0 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

section.last {
  margin-bottom: 120px;
}

section.content div.content {
  flex: 0 0 400px;
  margin: 0 0 0 48px;
}

section.content:nth-child(even) {
  flex-direction: row-reverse;
}

section.content:nth-child(even) div.content {
  margin: 0 48px 0 0;
}

img {
  width: 100%;
}

.hero h2 {
  margin: 0;
}

.hero h2, .hero p {
  max-width: 450px;
}
